elpa
*.elc
*.eld
*.swa?p
.lsp-session*
personal
savefile
transient
auto-save-list
url
.mc-lists.el
tramp
.cache
/pyim/dcache
abbrev_defs
.org-id-locations
roam-db
/org-roam.db
/elgrep-data.el
/chatgpt
/.chatgpt-shell.el
/request
transcript.txt
/eln-cache
/elgrep-data.el*
/ellama-sessions
